*,
*:after,
*:before {
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Barlow',", Avenir LT Std 35 Light",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background-color: #191919;
	overflow-x: hidden;
}
a{
	text-decoration: none;
}
ul{
	list-style: none;
}
.navigation{
    width: 100%;;
    background-color: #191919;
}
.nav-container{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}
.nav-container-div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0px 20px;
}
.logo-div{
	font-size: 24px;
    font-weight: 600;
}
.logo-div a{
	color: #a37819;
}
.nav-nav{
	display: flex;
    align-items: center;
}
.menu-bar{
	display: none;
}
.menu-bar .fa{
	font-size: 24px; 
	color:#c3c3c3;
	transition: all 350ms ease-in-out;
}
.menu-bar .fa:hover{
	color: #a37819;
	transition: all 350ms ease-in-out;
}
.nav-nav nav ul{
	display: flex; 
	flex-direction: row;
	align-items: center;
	margin: 0;
}
.nav-nav nav ul li{
	padding: 30px 15px 20px;
    margin: 0px 5px;
    	transition: all 350ms ease-in-out
}
.active{
	background-color: #a37819;
}
.active .active-a{
	color: #000;
}
.nav-nav nav ul li a{
	color:#c3c3c3;;
}
.nav-nav nav ul li:hover{
	background-color: #a37819;
}

.main{
	padding: 20px 20px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 70px 0px;
}
.social{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.social a{
	margin: 13px 0px;
	font-size: 18px;
	color: #a37819;
}
.social a i{
	border: 1px solid #c3c3c3;
	border-radius: 30px;
	padding: 6px;
	background: #c3c3c3;
	color: #000;
	transition: all 350ms ease-in-out
}
.social a i:hover{
	border: 1px solid #a37819;
	border-radius: 30px;
	background: transparent;
	color: #fff;
}
#fb{
	padding: 6px 9px;
}
.main .main-header{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.main .main-header .main-header-text{
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.main .main-header .main-header-text h1{
	font-size: 40px;
	text-transform: uppercase;
	color: #a37819;
}
.main .main-header .main-header-text p{
	font-size: 18px;
    line-height: 24px;
    margin: 0px 0px 10px;
    color: #c3c3c3;
}
.main .main-header .main-header-img{
	margin-top: 40px;
	width: 230px;
}
.main .main-header .main-header-img img{
	width: 100%;
}


.language{
	background-color: #dedede;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 15px 10px 10px;
	align-items:center;
	background-color: #a37819;
	border-top: 1px solid #5f5d5d;
}
.language-div{
	display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 20px 0px;
}
.language-img{
	width:57px;
}
.framework-img{
	width: 100px
}
.angular-img{
	width: 125px;
}
.django-img{
	width: 80px;
}
.framework-img img,.language-img img,.django-img img,.angular-img img{
	width: 100%;
}

.about{
	display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a37819;
    color: #fff;
    padding: 40px 10px;
}
.about .h1{
	display: flex;
}
.about .h1 h1{
	font-size: 40px;
	margin: 0
}
.about .about-div{
	margin: 0px 0px 20px;
    display: flex;
    font-size: 18px;
    align-items: flex-end;
    flex-direction: column-reverse;
}
.aboutsssss{
	padding: 10px 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutsssss p{
	color: #dcd9d9;
}
.circles{
	display: flex;
}
.circles div{
	    width: 10px;
    height: 10px;
    border-radius: 30px;
    background: #fff;
    animation: circle 1s ease-in-out 0s infinite alternate-reverse;;
}
@keyframes circle{
	from{transform: scale(0);background: #fff;}
	to{transform: scale(1);background: transparent; border: 1px solid #fff;}
}

.portfolio{
	display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 40px 10px;
}
.portfolio h1{
	font-size: 40px;
	color: #a37819;

}
.portfolio-div{
	margin: 0px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-div p{
	text-align: center;
	color: #d0d0d0;
}
.portfolio-div button{
	padding: 11px 35px;
	text-transform: uppercase;
	border:1px solid #a37819;
	background-color: transparent;
	color: #d0d0d0;
	font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
.portfolio-div button i{
	margin-left: 7px;
}
.portfolio-div button:hover{
	background-color: #a37819;
}
.portfolio-div button:focus{
	outline:#a37819;
}

.contact{
	background-color: #a37819;
	padding: 40px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%
}
.contact .h1{
	display: flex;
	flex-direction: row;
    margin: 10px 0px 40px;
}
.contact .h1 .header{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact .h1 .header h1{
	margin: 0;
	font-size: 40px;
}
.contact .h1 .header p{
	font-size: 18px;
	margin: 5px 0px;
}
.contact .contactUs{
	width: 100%;
	margin: 0px 20% 0px;
}
.contact .contact-body{
	margin: 10px 30px;
}
.contact .contact-body form{
	width: 100%;
	 display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contact .contact-body form .inputs{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.inputsssss{
	 display: flex;
	 margin: 0px 0px 30px 0px;
	 width: 100%
}
.input-left,.input-right{
	  display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%
}
.input-left{
	 margin: 0px 30px 0px 0px;
}
label{
	font-size: 14px;
	color: #dcd9d9;
}
.contact .contact-body form input,.contact .contact-body form textarea{
	width: 100%;
    padding: 10px;
    border:none;
    border-bottom: 1px solid #dcd9d9;
    background-color: transparent;
    transition: 500ms ease-in-out;
    color: #fff;
}
.contact .contact-body form input:focus, .contact .contact-body form textarea:focus{
	outline:none;
	border-bottom: 1px solid #fff;
}
.contact .contact-body form input:focus .label{
	color: #fff;
}
.contact .contact-body form textarea{
    padding: 13px;
    margin: 10px 0px;
    line-height: 5px;
}
.contact .contact-body form button{
	margin-top: 20px;
	padding: 11px 60px;
	text-transform: uppercase;
	border:1px solid #dcd9d9;
	background-color: transparent;
	color: #d0d0d0;
	font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
.contact .contact-body form button:hover{
	background-color: #fff;
	border:1px solid #fff;
	color: #a37819;
}


.work{
	background-color: #a37819;
	padding: 40px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%
}
.work .header{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.work .header h1{
	margin: 0;
	font-size: 40px;
}
.work .header p{
	font-size: 18px;
	margin: 5px 0px;
	color: #c3c3c3;
}
.work-list{
	    width: 100%;
}
.work-list ul{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 20px;
}
.work-list ul li{
	margin: 40px 10px 40px;
}
.work-list ul li a{
	 color: #a37819;    
}
.work-list ul li a .work-div{
	background-color: #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 270px;
    border-radius: 30px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
    transition: .3s;
}
.work-list ul li a .work-div:hover{
	transform: translateY(-8px);
}
.work-img{
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.work-img img{
	width: 100%;
}
.work-img span{
	text-decoration: underline;
	font-size: 20px;
	font-weight: 600;
}


footer{
	padding: 6rem 4rem 10px;
    display: flex;
    flex-direction: column;
}
.footer-top{
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}
.footer-nav{
	display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav a{
	color: #c3c3c3;
    padding: 0px 0px 20px;
    transition: all 350ms ease-in-out;
}
.footer-bottom{
	display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #c3c3c3;
    padding: 40px 20px 30px;
    text-align: center;
    color: #c3c3c3;
}
.footer-social{
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-social a {
    margin: 0px 10px;
    font-size: 18px;
    color: #a37819;
}
.footer-social a i {
    border: 1px solid #c3c3c3;
    border-radius: 30px;
    padding: 6px;
    background: #c3c3c3;
    color: #000;
    transition: all 350ms ease-in-out;
}
.footer-social a i:hover{
	border: 1px solid #a37819;
	border-radius: 30px;
	background: transparent;
	color: #fff;
}





@media only screen and (min-width: 768px){
	.main .main-header{flex-direction: row;}
	.about .about-div{flex-direction: row-reverse;}
	.portfolio-div{margin: 0px 100px 20px;}
	.contact .contact-body {margin: 10px 150px;}
	footer {padding: 6rem 7rem 10px;}
}
@media only screen and (min-width: 601px){
	.main {flex-direction: row;margin: 30px 0px 0px;}
	.main .main-header{flex-direction: row;}
	.main .main-header .main-header-text{width:50%;}
	.main .main-header .main-header-img{ 	margin-top: 0px;}
	.language{flex-direction: row; padding: 10px 10px 10px;}
	.language-div {margin: 0px;}
}
@media only screen and (max-width: 600px){
	.main .main-header .main-header-text h1{font-size: 32px}
	.main .main-header .main-header-text p{font-size: 16px;}
	.about .h1 h1{font-size: 32px}
	.portfolio h1{font-size: 32px}
	.contact .h1 .header h1 {font-size: 32px}
	.main { margin: 0px 30px 0px; padding: 0px 10px 40px;flex-direction: column-reverse;align-items: center;}
	.nav-container-div {margin: 10px 20px;}
	.nav-nav nav ul{display:none;background-color:#a37819;position:absolute;top: 50px;right:0px; flex-direction: column;
		padding: 20px 10px 0px 10px;transition: 700ms ease-in-out ; transform: translateY(0px);}
	.nav-nav nav ul li{padding: 20px;margin: 0px;}
	.menu-bar{display: block;}
	.nav-nav nav ul li a{color:#fff;}
	.social a{margin: 0px 20px;}
	.social{margin: 30px 0px 0px; flex-direction: row;}
	.inputsssss {flex-direction: column;}
	.input-left {margin: 0px 0px 30px 0px;}
	.footer-top{flex-direction: column;align-items: center;}
	.footer-nav {margin-top: 30px;}
	.footer-bottom{flex-direction: column-reverse;}
}
@media only screen and (max-width: 400px){
	.main{margin: 0px;}
	.portfolio-div{margin: 0px 5px 20px;}
	.contact .contact-body {margin: 10px;}
	.work-list ul li a .work-div {width: 230px;height: 230px;}
	footer {padding: 6rem 1rem 10px;}
}